<h3 class="about-title">Hiya! I'm Haohang.</h3>

<div class="about-content">

<p>I'm currently a software developer in New York City.</p>

<h4>Things I like:</h4>

<ul>
  <li> derping </li>
  <li> succulents </li>
  <li> puns </li>
  <li> puzzles </li>
  <li> squishables, like plushies and cats </li>
  <li> enumerable sets </li>
</ul>

<h4>Things I don't like:</h4>

<ul>
  <li> scary movies </li>
  <li> heights </li>
  <li> C++ </li>
  <li> granola </li>
  <li> socks </li>
</ul>

<h4>Things that occupy my time:</h4>

<ul>
  <li> cat videos </li>
  <li> type errors </li>
  <li> trying to understand the world </li>
</ul>

<p>Further enumeration of these sets can potentially be found over in <a id="blog-link" href="#">words</a>, where I intend to collect contemplations on depring and life.</p>
</div>

