.about-content {
    p {
        padding-top : 20px;
        font-size : 18px;
    }

    h4 {
       padding-top : 10px;
       font-size : 16px;
       font-weight : 500;
    }

    ul {
       list-style-type: square;
    }       
}
